.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;   
 
    .clients-wrapper {
        display: flex;
        flex-direction: column;
        border: .5px solid #ccc;

        span {
            margin: 5px;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        border: .5px solid #ccc;
        margin: 5px 0;

        span {
            cursor: pointer;
        }

        .selected {
            color: #a96d38;
        }

        span:nth-child(even) {
            margin: 0 10px;
        }
    }
}
